$light-grey: #e2e2e2;

.card-main {
  border-radius: 1.8em;
  width: 20rem;
}

.card-body {
  padding: 0;
}

.card-body img {
  height: 16rem;
  width: 20rem;
  border-radius: 1.8em;
  object-fit: fill;
}

.social-container {
  justify-self: flex-end;
  margin-top: 1em;
}

.card-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  padding: .6em;
  padding-right: 2em;
}

.card-address {
  color: #222222;
  font-weight: lighter;
}
